<section>

	<div class="box">

		<div class="box-header with-border">

			<header ng-include="'static/views/includes/oHeader.html'"></header>

		</div>

		<div class="box-body" style="">

			<div ng-show="oHeader.menu.selected == 1">				
			
				<div class="table-load" ng-show="oUsers.table.loading">
					<img src="static/assets/img/loading.svg" alt="carregando...">
				</div>

				<div class="row fields-search-step">
					
					<div class="col-sm-6">

						<div class="form-group" uib-dropdown>
                    		<div class="input-group">
                        		<label class="input-group-addon btn-addon">
                        			<i class="fa fa-search" aria-hidden="true"></i>
                        		</label>
                        		<label class="input-group-addon btn-addon" uib-dropdown-toggle>
				 		   			<span class="caret"></span>
				 				</label>
                            	<input class="form-control"
                            		   type="text"
                            		   placeholder="Digite sua busca"
                            		   ng-model="oUsers.table.search.text"
                            		   ng-change="oUsers.table.search.change()" />                            	
                        	</div>
                        	<ul uib-dropdown-menu>
				      			<li>
				       	 			<a ng-class="{sel:oUsers.table.search.column == -1}" ng-click="oUsers.table.search.click(-1)">Todas as Colunas</a>
				      			</li>
				      			<li ng-repeat="column in oUsers.table.columns" ng-if="$index > 0">
				        			<a ng-class="{sel:$index == oUsers.table.search.column}" ng-click="oUsers.table.search.click($index)" ng-bind=column.title></a>
				      			</li>
				    		</ul>
                    	</div>
						
					</div>

					<div class="col-sm-4 col-xs-6">

						<div class="form-group">
                    		<div class="input-group">
                        		<label class="input-group-addon">
                        			<i class="fa fa-list" aria-hidden="true"></i>
                        		</label>
                            	<select class="form-control"
                            			ng-model="oUsers.table.step.selected"
                            			ng-options="a.value as a.label for a in oUsers.table.step.options"
                            			ng-change="oUsers.table.step.change()">
                            		
                            	</select>                            	
                        	</div>
                    	</div>
					</div>

				</div>
			
				<table datatable 
					   ng-attr-id="oUsers.table.id"
					   dt-instance="oUsers.table.instance"
					   dt-options="oUsers.table.options"
					   dt-columns="oUsers.table.columns"
					   ng-class="oUsers.table.class"
					   width="100%"></table>
			
			</div>

			<div ng-show="oHeader.menu.selected > 1">
			
				<h4>{{oHeader.menu.selected == 2 ? 'Cadastrar' : 'Editar' }}</h4>
				<br/>

				<form id="frmUsuario" name="Form" class="frm">

					<fieldset ng-disabled="oUsers.form.disabled">
					
						<div class="row">

							<div class="col-sm-2 col-xs-6">

								<div class="form-group">
									<label>Código</label>
									<input ng-model="oUsers.this.id"
										   type="text"
										   class="form-control"
										   name="codigo"
										   placeholder="Novo"
										   readonly>
								</div>

							</div>

							<div class="col-sm-5 col-xs-12">

								<div class="form-group">
									<label>Data Cadastro</label>
              						<input class="form-control"
              							   type="datetime-local"
              							   name="dataCadastro"
              							   ng-model="oUsers.this.createdAt"
              							   readonly />
								</div>
								
							</div>

							<div class="col-sm-5 col-xs-12">

								<div class="form-group">
									<label>Data Atualizado</label>
              						<input class="form-control"
              							   type="datetime-local"
              							   name="dataAtualizado"
              							   ng-model="oUsers.this.updatedAt"
              							   readonly />
								</div>
								
							</div>

						</div>

						<div class="row">

							<div class="col-sm-6">
							
								<div class="form-group">
									<label>Status <span class="obg"></span></label>
									<select ng-options="a.value as a.label for a in oUsers.aStatus"
											ng-model="oUsers.this.status"
											class="form-control"
											name="status" 
										   	required="">
									</select>
								</div>
								
							</div>
							<div class="col-sm-6">
							
								<div class="form-group">
									<label>Tipo <span class="obg"></span></label>
									<select ng-options="a.value as a.label for a in oUsers.aRule"
											ng-model="oUsers.this.rule"
											class="form-control"
										    required="">
											
									</select>
								</div>
								
							</div>							

						</div>
						
						<div class="row">
						
							<div class="col-sm-6">
							
								<div class="form-group check-input">
									<label>Nome <span class="obg"></span></label>
									<input ng-model="oUsers.this.name"
										   type="text"
										   class="form-control"
										   name="nome"
										   maxlength="100"
										   required="">
									
									<div class="error" ng-show="Form.nome.$error.required && Form.nome.$dirty">
										<i class="fa fa-exclamation-circle"></i>
										<div>Nome é obrigatório</div>
									</div>
									
								</div>
								
							</div>
							
							<div class="col-sm-6">
							
								<div class="form-group check-input">
									<label>E-mail <span class="obg"></span></label>
									<input ng-model="oUsers.this.email"
										   ng-blur="oUsers.checkEmail.isAvailable()"
										   type="email"
										   name="email"
										   class="form-control"
										   name="email"
										   maxlength="100"
										   required="">
										   
									<div class="error" ng-show="Form.email.$error.required && Form.email.$dirty">
										<i class="fa fa-exclamation-circle"></i>
										<div>E-mail é obrigatório</div>
									</div>
									
									<div class="attention" ng-show="Form.email.$error.email && Form.email.$dirty">
										<i class="fa fa-exclamation-triangle"></i>
										<div>E-mail inválido</div>
									</div>
									
									<div class="attention" ng-show="oUsers.checkEmail.isExist">
						                <i class="fa fa-exclamation-triangle"></i>
						                <div>E-mail já cadastrado </div>
					                </div>
									
								</div>
								
							</div>
							
						</div>
						
						<div class="row">							
							
							<div class="col-sm-6">
							
								<div class="form-group check-input">
									<label>Login <span class="obg"></span></label>
									<input ng-model="oUsers.this.username"
										   ng-blur="oUsers.checkUsername.isAvailable()"
										   type="text"
										   class="form-control"
										   name="username"
										   maxlength="20"
										   required="">
										   
									<div class="error" ng-show="Form.username.$error.required && Form.username.$dirty">
										<i class="fa fa-exclamation-circle"></i>
										<div>Login é obrigatório</div>
									</div>
									
									<div class="error" ng-show="oUsers.checkUsername.invalid">
					                	<i class="fa fa-exclamation-circle"></i>
					                	<div>Login deve ter apenas caracteres alfanuméricos e ponto</div>
					                </div>
					                
					                <div class="attention" ng-show="oUsers.checkUsername.isExist">
					                	<i class="fa fa-exclamation-triangle"></i>
					                	<div>Login já existe</div>
					                </div>
									
								</div>
								
							</div>
							
							<div class="col-sm-6">
							
								<div class="form-group check-input">
									<label>Senha <span class="obg"></span></label>
									<div class="input-group">
										<input ng-model="oUsers.this.password"
											   type="password"
											   class="form-control"
											   name="senha"
											   placeholder="6 - 20 caracteres"
											   maxlength="20"
											   minlength="6"
											   required=""/>
										<label class="input-group-addon">
											<i ng-class="oUsers.form.viewPass.icon" ng-click="oUsers.form.viewPass.click()" aria-hidden="true"></i>
										</label>
									</div>
									
									<div class="error-password" ng-show="Form.senha.$error.required && Form.senha.$dirty">
										<i class="fa fa-exclamation-circle"></i>
										<div>Senha é obrigatória</div>
									</div>
									
									<div class="attention-password" ng-show="Form.senha.$error.minlength && Form.senha.$dirty">
										<i class="fa fa-exclamation-triangle"></i>
										<div>Tamanho mínimo de 6 caracteres</div>
									</div>
									
								</div>
								
							</div>
							
						</div>
						
						<div class="row pull-right">
							
							<div class="col-sm-12">
								
								<button type="button" ng-class="oUsers.form.btn.restore.class" ng-click="oUsers.form.btn.restore.click()">
									<i ng-class="oUsers.form.btn.restore.icon"></i>
									<span ng-bind="oUsers.form.btn.restore.name"></span> 
								</button>
							
								<button	ng-click="oUsers.form.btn.save.click()"								
										ng-class="Form.$invalid ? 'btn btn-danger' :
												 oUsers.checkUsername.isExist ? 'btn btn-danger' :
												 oUsers.checkUsername.invalid ? 'btn btn-danger' :
												 oUsers.checkEmail.isExist ? 'btn btn-danger' : 
												 oUsers.form.btn.this.class"												 
										ng-disabled="Form.$invalid ? true : 
													oUsers.checkUsername.isExist ? true :
													oUsers.checkUsername.invalid ? true :
													oUsers.checkEmail.isExist ? true :
													oUsers.form.btn.this.disabled">
										
									<i ng-class="oUsers.form.btn.this.icon"></i>
									<span ng-bind="oUsers.form.btn.this.name"></span>
									 
								</button>
								
							</div>
						</div>
						
					</fieldset>
					
				</form>

			</div>

		</div>

	</div>

</section>