table img{
	height:40px !important;
	margin: 0 auto;
}

/* Imagem de carregando */
.table-load{
	position: absolute;
	width:100%;
	height:100%;
	z-index:2;
	top:0;
	left:0;
	display: flex;
	background-color:rgba(255,255,255,0.5);
}

.table-load img{
	position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: block;	
}

.dataTables_wrapper	 {
	padding: 15px 10px !important;
	overflow-y: scroll;
}

/* Botão de colapso dos dados ( plus ) */
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, 
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
	width: 22px !important;
	height: 15px !important;
	font: bold 11px 'verdana' !important;
	margin-top: -4px !important;
	border-radius: 2px !important;
	border: 0px !important;
	background-color: #949494 !important;
}

.dataTables_info { float: left; font-size: 13px; color: #7B7B7B; }

.dataTables_paginate { float: right; }

.pagination a {	
	border: none !important;
	background-color: white !important;
	padding: 2px 7px !important;
	border-radius: 2px;
}

.pagination a:hover:not(.active) { color: black; }

.pagination li.next > a,
.pagination li.previous > a {
	margin: 0 5px !important;
	font-size: 12px;
	line-height: 1.7;
}

.pagination > .active > a {
	background-color: #858585 !important;
	border: #858585 !important;
}

.dataTables_wrapper .form-control {
	border: 1px solid #d4d4d4 !important;
	border-radius: 5px;
}

.dataTable tbody tr td {
	height: 10px !important;
	padding: 5px 4px !important;
	font-size: 13px;
}

table.dataTable thead .sorting:after {
	content: "" !important;
}

table.dataTable thead .sorting_asc:after {
	/* content: "\e253" !important; */
	content: "" !important;
}

table.dataTable thead .sorting_desc:after {
	/* content: "\e252" !important; */
	content: "" !important;
}

table.dataTable thead th:not(.control)  {
	padding: 1px 3px 3px 3px !important;
	vertical-align: middle !important; 
}

.sel {
    background-color: #50525A !important;
    color: white !important;
}

.dropdown-menu { border: 1px solid #BEBEBE !important; }

.dropdown-menu li a { cursor: pointer; }

.dropdown-menu li a:hover:not(.sel) { background-color: #F0F0F0 !important; }

.fields-search-step { margin-left: -5px !important; }

.fields-search-step .input-group input,
.fields-search-step .input-group label,
.fields-search-step .input-group select {
	border: none;
}

@media screen and (max-width: 620px) {

	.dataTables_paginate { margin-top: 15px !important; }

	.pagination li.next > a,
	.pagination li.previous > a {
		margin: 0 0 !important;
	}

}