@charset "UTF-8";

/* -------------------- REESTILIZAÇÃO DAS TAGS -------------------- */
body {
	height: 100%;
	display: none;
}

a {
	text-decoration: none !important;
}

button {
	outline: none;
}

textarea {
	resize: vertical;
}

/* --------------- LEGENDA - LIBERAÇÃO COMPONENTES --------------- */
.legend-lib-component {
	color: #888;
	margin-left: 5px;
}

.legend-lib-component > span {
	display: block;
}

/* --------------- INFORMAÇÃO DOS ELEMENTOS TEXTAREA --------------- */
.info-textarea {
	margin: 5px 0 15px 0;
}

.paragraph-modal-product {
	text-align: justify;
	margin: 1px 15px 15px 15px;
}

/* --------------- MODALS (POSIÇÃO DOS ELEMENTOS) --------------- */
.help-import-product {
	margin-top: -20px;
}

.radio-modal-product {
	margin-left: 15px;
}

.checkbox-modal-product {
	margin: 0 15px;
}

.radio-inline > select {
	width: 30px;
}

/* --------------- ESTILOS GERAIS --------------- */
.para-alertify {
	text-align: justify; margin-bottom: 15px !important;
}

.not-found {
	color: #C13422;
}

.hr-componentes {
	border-top: 1px solid #313131;
	margin: 5px 0;
}

.logoHeader {
	height: 40px;
}

/* --------------- RESPONSIVIDADE --------------- */
@media (max-width: 767px) {
	.content-wrapper {
  		margin-left: 0 !important;
	}
	
	.btn-delete {
	    margin-right: 5px;
	}
}