@charset "UTF-8";

body {
	height: 100%;
	display: none;
}

.not-found { color: #C13422; }

/* .content-wrapper { margin-left: 0 !important; } */

.main-header .logo { background-color: #C13422 !important; }
.main-header .navbar, .skin-red .main-header li.user-header { background-color: #C74433 !important; }
.skin-red .main-header .navbar .sidebar-toggle:hover { background-color: #C13422 !important; }

.sidebar-menu > li.active > a { border-left-color: #C13422 !important; }
.sidebar-menu > li.header { color: #FFF !important; background: #313131 !important; }
.wrapper, .main-sidebar, .left-side { background-color: #242424 !important; }
.control-sidebar-dark, .control-sidebar-dark + .control-sidebar-bg { background-color: #242424 !important; }
.sidebar a { color: #B8C7CE !important; }
.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a, .sidebar-menu > li.menu-open > a { color: #FFF !important; background: #444444 !important; }

.hr-componentes {
	border-top: 1px solid #313131;
	margin: 5px 0;
}

button {
	outline: none;
}

.logoHeader {
	height: 40px;
}

a {
	text-decoration: none !important;
}

.box-header .box-title {
	font-size: 30px !important;
}

.frm .form-control {
	border: 1px solid #d4d4d4 !important;
	border-radius: 5px;
}

.frm .form-control:focus {
	border: 1px solid #d73925 !important;
}

.btn-black {
	background-color: #50525A;
	color: #FFF !important;
	outline: none;
}

.btn-black:hover {
	background-color: #727480;
	color: #FFF !important;
}

.form-group {
	margin-bottom: 20px !important;
}

.input-group {
	border-bottom: 1px solid #DDD;
    transition: all 0.5s ease;
}

.nav-tabs > li > a{	
	height: 30px;
	padding: 4px 20px !important;
	color: #C13422;
}

.nav-tabs > li.active > a {
	font-weight: bold;
}

.row.row-just {
    margin-left: -1px;
    margin-right: -1px;
} 

.row.row-just > div{
    padding-right: 1px;
    padding-left: 1px;
}

.row-adjust > td {
	padding: 3px 0 !important;
}

.row-adjust .col-icon > i { padding-left: 20px !important; line-height: 25px;}
.row-adjust .col-name > span { padding-left: 10px !important; line-height: 25px;}
.row-adjust .col-icon { width: 1px; }

td > select.form-control {
	width: auto;
	height: 25px;
	padding: 0 6px;
	border: none;
    border-bottom: 1px solid #e1e1e1;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.btn-delete {
	font-size: 20px !important;
    margin-right: 10px;
    color: #C13422;
    cursor: pointer;
    line-height: 25px !important;
}

.legend-lib-component {
	color: #888;
	margin-left: 5px;
}

.legend-lib-component > span {
	display: block;
}

i.obg {
	color: #C13422;
	font-size: 10px;
}

textarea {
	resize: vertical;
}

.info-textarea {
	margin: 5px 0 15px 0;
}

@media (max-width: 767px) {
	.content-wrapper {
  		margin-left: 0 !important;
	}
	
	.btn-delete {
	    margin-right: 5px;
	}
}