.color-skin {
	width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #C8C8C8 solid 1px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.color-skin:hover { opacity: 0.4; }

.btn-config {
    font-size: 15px !important;
    margin-top: 20px;
}

/* CORES DO HEADER - PADRÃO DO ADMINLTE */
.color-blue { background-color: #3C8DBC; }

.color-black { background-color: #000; }

.color-purple { background-color: #605ca8; }

.color-green { background-color: #00a65a; }

.color-red { background-color: #dd4b39; }

.color-yellow { background-color: #f39c12; }

.text-skins {
	float:left;
	width: 33.33333%;
	padding: 5px;
}

/* CORES DOS BOTÕES */
.color-btn-blue { background-color: #3C8DBC; }

.color-btn-black { background-color: #000; }

.color-btn-purple { background-color: #605ca8; }

.color-btn-green { background-color: #00a65a; }

.color-btn-red { background-color: #dd4b39; }

.color-btn-yellow { background-color: #f39c12; }

.checked-skin {
    color: #FFF;
    font-size: 20px !important;
    margin-top: 22%;
}

/* CORES DA VIEW 404 */
.color-error-blue { color: #3C8DBC; }

.color-error-black { color: #000; }

.color-error-purple { color: #605ca8; }

.color-error-green { color: #00a65a; }

.color-error-red { color: #dd4b39; }

.color-error-yellow { color: #f39c12; }

/* CORES DO TITULO DO LOGIN */
.color-login-blue::before { background-color: rgba(60,141,188,0.55); }

.color-login-black::before { background-color: rgba(0,0,0,0.55); }

.color-login-purple::before { background-color: rgba(96,92,168,0.55); }

.color-login-green::before { background-color: rgba(0,166,90,0.55); }

.color-login-red::before { background-color: rgba(221,75,57,0.55); }

.color-login-yellow::before { background-color: rgba(243,156,18,0.55); }